@use "_variables" as *;

@media (max-width:950px) {
    header {

        .logo{
            .logo__enlace{
                .logo__texto{
                    display: none;
                }
            }
        }
        .encabezado {
            display: flex;
            justify-content: end;

            .encabezado__abrir {
                background-color: $colorEyF;
                display: block;
                border: none;

                .abrir__imagen {
                    height: 60px;
                    padding: 1rem;
                    border: none;
                }
            }

            .encabezado__menu {
                display: flex;
                flex-direction: column;
                align-items: start;
                position: absolute;
                top: 0;
                right: 0;
                margin-top: 0;
                box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
                opacity: 0;
                visibility: hidden;
                background-color: $colorEyF;

                .menu__listado {
                    flex-direction: column;
                    align-items: end;
                    width: 100%;
                    padding: 0.5rem 2rem;

                    .listado__cerrar {
                        display: block;
                        border: none;
                        background-color: $colorEyF;
                        padding: 0;

                        .cerrar__imagen {
                            height: 60px;
                            border: none;
                            padding: 1rem;
                        }
                    }

                    .listado__items {
                        padding: 0.5rem;
                        .items__enlace {
                            font-size: 16px;
                        }
                    }
                }
            }

            .encabezado__menu.visible {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}