header {
    position: sticky;
    top: 0px;

    .cabecera {
        background-color: #351a02;
        @include niPaddingNiMargin(0, 0);

        .cabecera__titulo {
            background-image: $imagenCabecera;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            margin: 0;
            height: 40px;

            .titulo__redes {
                display: flex;
                flex-direction: row;
                justify-content: center;
                height: 40px;
                margin: 0px;
                padding: 10px 0 10px 10px;

                .redes__iconos {
                    color: white;
                    display: flex;
                    height: 50%;

                    .iconos__texto {
                        color: white;
                        text-decoration: none;
                        align-items: center;

                        .iconos {
                            width: 25px;
                            padding-bottom: 3px;
                            padding-right: 5px;
                        }

                        .iconos__facebook {
                            @extend .iconos;

                            &:hover {
                                transform: scale(1.2);
                            }
                        }

                        .iconos__instagram {
                            @extend .iconos;

                            &:hover {
                                transform: scale(1.2);
                            }
                        }

                        .iconos__whatsapp {
                            @extend .iconos;

                            &:hover {
                                transform: scale(1.2);
                            }
                        }

                        .iconos__mercadoLibre {
                            @extend .iconos;

                            &:hover {
                                transform: scale(1.2);
                            }
                        }

                        @media (max-width: 375px) {
                            .iconos {
                                width: 15px;
                            }
                        }

                        @media (max-width: 200px) {
                            .iconos {
                                width: 13px;
                            }
                        }
                    }
                }
            }

            @media (max-width: 375px) {
                .titulo__redes {
                    @include niPaddingNiMargin(0, 0);
                    display: flex;
                    flex-direction: row;
                    height: 20px;
                    padding-left: 10px;
                }
            }

            .titulo__vacia {
                @include niPaddingNiMargin(0, 0);
                height: 40px;
            }

            .titulo__vacia {
                @include niPaddingNiMargin(0, 0);
                height: 20px;
            }

            .titulo__insignia {
                @include niPaddingNiMargin(0, 0);
                height: 40px;


                .insignia__img {
                    @include niPaddingNiMargin(0, 0);
                    height: 40px;

                    &:hover {
                        transform: scale(1.1);
                    }
                }

                @media (max-width:375px) {
                    .insignia__img {
                        height: 20px;
                    }
                }
            }

            @media (max-width:375px) {
                .titulo__insignia {
                    height: 20px;
                }
            }
        }

        @media (max-width:375px) {
            .cabecera__titulo {
                height: 20px;
            }
        }

        .cabecera__menu {
            @include niPaddingNiMargin(0, 0);
            background-image: $imagenBarra;
            background-repeat: repeat;
            display: flex;
            justify-content: space-around;
            text-decoration: none;
            flex-wrap: wrap;
            width: 100%;
            
            .menu__boton {
                @include niPaddingNiMargin(0, 0);
                height: 30px;
                border: none;
                box-shadow: none;
                padding-left: 7px;
                margin: 3px 0 3px 0;
                
                .boton__icono {
                    height: 100%;
                    background-image: url("../media/menu.png");
                }

                @media (max-width:375px) {
                    .boton__icono {
                        width: 20px;
                    }
                }
            }

            @media (max-width:575px) {
                .menu__boton {
                    display: flex;
                    justify-content: left;
                }
            }

            @media (max-width:375px) {
                .menu__boton {
                    height: 20px;
                    padding-left: 7px;
                }
            }

            .menu__contenedor {
                
                .menu__listado {
                    @include niPaddingNiMargin(0, 0);
                    width: 100%;
                    
                    .listado__items {
                        display: flex;
                        padding: 0;
                        text-align: center;
                        width: 20%;

                        .items__enlace {
                            text-decoration: none;
                            padding: 3px 0 3px 0;
                            color: white;
                            font: bold;
                            text-shadow: 3px 3px 4px black;
                            width: 100%;
                            font-size: 22px;

                            &:hover {
                                transform: scale(1.1);
                                transform-origin: top;
                            }
                        }

                        @media (max-width: 780px) {
                            .items__enlace {
                                font-size: 16px;
                            }
                        }

                        @media (max-width: 575px) {
                            .items__enlace {
                                border-top: 1px solid white;
                                font-size: 15px;
                                text-align: left;
                            }
                        }

                        @media (max-width: 375px) {
                            .items__enlace {
                                font-size: 15px;
                            }
                        }

                        @media (max-width: 288px) {
                            .items__enlace {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}