header {
    position: sticky;
    top: 0px;

    .cabecera {
        background-color: #351a02;
        @include niPaddingNiMargin(0, 0);

        .cabecera__titulo {
            background-image: $imagenCabecera;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            margin: 0;
            height: 40px;

            .titulo_contenedorRedes {
                @include niPaddingNiMargin(0, 0);
                height: 100%;

                .titulo__redes {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    height: 100%;
                    margin: 0px;

                    .redes__iconos {
                        display: flex;
                        justify-content: end;
                        padding-top: 5px;
                        padding-right: 5px;

                        .iconos__texto {
                            .iconos {
                                height: 28px;

                                &:hover {
                                    transform: scale(1.2);
                                }
                            }

                            @media (max-width: 375px) {
                                .iconos {
                                    height: 16px;
                                }
                            }


                            .iconos__facebook {
                                @extend .iconos;
                            }

                            .iconos__instagram {
                                @extend .iconos;
                            }

                            .iconos__whatsapp {
                                @extend .iconos;
                            }

                            .iconos__mercadoLibre {
                                @extend .iconos;
                            }

                        }
                    }

                    @media (max-width:375px){
                        .redes__iconos{
                            padding-top:0;
                        }
                    }
                }
            }

            @media (max-width: 375px) {
                .titulo__redes {
                    @include niPaddingNiMargin(0, 0);
                    display: flex;
                    flex-direction: row;
                    height: 100%;
                    padding-left: 10px;
                }
            }

            .titulo__vacia {
                @include niPaddingNiMargin(0, 0);
                height: 40px;
                display: flex;
                justify-content: center;

                .vacia__texto {
                    @include niPaddingNiMargin(0, 0);
                    color: white;
                    height: 100%;
                    text-shadow: 3px 3px 4px black;
                    font-size: 40px;
                }

                @media (max-width:375px) {
                    .vacia__texto {
                        font-size: 20px;
                    }
                }
            }

            @media (max-width:375px) {
                .titulo__vacia {
                    height: 20px;
                }
            }

            .titulo__insignia {
                @include niPaddingNiMargin(0, 0);
                height: 40px;

                .insignia__logo {
                    display: flex;
                    justify-content: center;

                    .logo__img {
                        @include niPaddingNiMargin(0, 0);
                        height: 40px;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }

                    @media (max-width:375px) {
                        .logo__img {
                            height: 20px;
                        }
                    }
                }
            }

            @media (max-width:375px) {
                .titulo__insignia {
                    @include niPaddingNiMargin(0, 0);
                    height: 20px;
                }
            }
        }

        @media (max-width:375px) {
            .cabecera__titulo {
                height: 20px;
            }
        }
    }
}