@use "_variables" as *;

header {
    background-color: $colorEyF;
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: space-between;
    padding: 0.5rem 2rem;

    .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .logo__enlace {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            .logo__imagen {
                padding: 0.4rem;
                background-color: rgb(9, 24, 4);
                border-radius: 90px;
                height: 48px;
            }
            
            .logo__texto {
                padding: 0.4rem;
                height: 60px;
            }
        }
    }

    .encabezado {
        display: flex;
        justify-content: end;
        align-items: center;

        .encabezado__abrir {
            display: none;
        }

        .encabezado__menu {

            display: flex;
            justify-content: end;

            .menu__listado {
                display: flex;
                gap: 1rem;
                text-align: center;
                margin: 0;

                .listado__cerrar {
                    display: none;
                    padding: 0.5rem;
                }

                .listado__items {

                    display: flex;
                    justify-content: center;

                    .items__enlace {
                        text-decoration: none;
                        color: rgb(159, 185, 146);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: bold;

                        &:hover {
                            color: rgb(200, 211, 200);
                            transition: 0.5s;
                        }
                    }
                }
            }
        }
    }
}