header {
    position: sticky;
    top: 0px;

    .cabecera {
        background-color: #351a02;
        @include niPaddingNiMargin(0, 0);

        .cabecera__menu {
            @include niPaddingNiMargin(0, 0);
            background-image: $imagenBarra;
            background-repeat: repeat;
            display: flex;
            justify-content: space-around;
            text-decoration: none;
            flex-wrap: wrap;
            width: 100%;

            .menu__boton {
                @include niPaddingNiMargin(0, 0);
                height: 30px;
                border: none;
                box-shadow: none;
                padding-left: 7px;
                margin: 3px 0 3px 0;

                .boton__icono {
                    height: 100%;
                    background-image: $botonHamburguesa;
                }
            }

            .menu__contenedor {

                .menu__listado {
                    @include niPaddingNiMargin(0, 0);
                    width: 100%;

                    .listado__items {
                        display: flex;
                        padding: 0;
                        text-align: center;
                        width: 20%;

                        .items__enlace {
                            text-decoration: none;
                            padding: 3px 0 3px 0;
                            color: white;
                            font: bold;
                            text-shadow: 3px 3px 4px black;
                            width: 100%;
                            font-size: 22px;

                            &:hover {
                                transform: scale(1.1);
                                transform-origin: top;
                            }
                        }
                    }
                }
            }
        }
    }
}