.principal {
    background-image: $imagenDeFondo;
    background-size: cover;
    width: 100%;
    padding: 0;

    .principal__cuerpo {
        min-height: 650px;
        width: 100%;
        @include niPaddingNiMargin(0, 0);

        .ubicacion__imagen{
            display: flex;
            justify-content: center;
            width: 100%;

            .imagen__detalles{
                width: 50%;
            }
        }

        .ubicacion__imagendos{
            display: flex;
            justify-content: center;
            width: 100%;
            padding-bottom: 2rem;
        }

        .cuerpo__ubicacion {
            width: 100%;
            @include niPaddingNiMargin(0, 0);
            display: flex;
            justify-content: center;
            align-items: center;

            .ubicacion__mapa {
                width: 50%;
                @include niPaddingNiMargin(0, 0);
                padding-bottom: 2rem;
            }
        }
    }
}