.principal__cuerpoCatalogo {
    min-height: 650px;
    width: 100%;
    @include niPaddingNiMargin(0, 0);
    padding: 1rem;
    display: flex;
    justify-content: center;

    .principal__catalogo {
        @include niPaddingNiMargin(0, 0);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;

        .catalogo__bodega {
            @include niPaddingNiMargin (0, 0);
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid white;

            .bodega__titulo {
                color: white;
                text-align: center;
                padding-top: 20px;
                text-shadow: 3px 3px 4px black;
                font-size: 1.5em;
            }

            .bodega__productos {
                display: flex;
                flex-direction: row;
                justify-content: center;

                .catalogo__producto {
                    @include niPaddingNiMargin(0, 0);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 1rem;

                    &:hover {
                        transform: scale(1.1);
                        transform-origin: top;
                    }

                    .producto__texto {
                        color: white;
                        text-align: center;
                        padding-top: 5px;
                        margin: 0;
                        text-shadow: 3px 3px 4px black;
                    }

                    .producto__enlace {
                        @include niPaddingNiMargin(0, 0);
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        .producto__img {
                            width: 150px;
                            padding: 1rem;
                        }
                    }
                }
            }
        }
    }
}