.principal {
    background-image: $imagenDeFondo;
    background-size: cover;
    width: 100%;
    padding: 0;

    .principal__cuerpo {
        min-height: 650px;
        width: 100%;
        @include niPaddingNiMargin(0, 0);

        .cuerpo__texto {
            padding: 20px 50px 0px 50px;
            color: white;
            text-align: center;
            margin: 0px;
            text-shadow: 3px 3px 4px black;
        }

        @media (max-width: 375px) {
            .cuerpo__texto {
                font-size: 11px;
            }
        }

        @media (max-width: 288px) {
            .cuerpo__texto {
                font-size: 9px;
            }
        }

        .cuerpo__artista {
            width: 85%;
            font-size: 14px;
            padding: 30px;
            color: rgb(201, 201, 201);
            text-align: right;
            text-shadow: 3px 3px 4px black;
        }

        
    }

    

    
}