.principal__cuerpoProveedor {
    min-height: 650px;
    width: 100%;
    @include niPaddingNiMargin(0, 0);
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .cuerpo__proveedor {
        display: flex;
        justify-content: left;
        flex-direction: column;
        @include niPaddingNiMargin(0, 0);

        .proveedor__info {
            display: flex;
            flex-direction: row;
            @include niPaddingNiMargin(0, 0);
            border-bottom: solid 1px white;

            .proveedor__media {
                display: flex;
                margin: 0;
                padding: 15px;

                .media__enlace {
                    @include niPaddingNiMargin(0, 0);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .media__img {
                        width: 120px;
                    }
                }
            }

            .proveedor__datos {
                display: flex;
                flex-direction: column;
                margin: 0;
                padding: 15px;
                color: white;
                text-shadow: 3px 3px 4px black;
                justify-content: center;

                .datos__ficha {
                    .datos__titulo {
                        font-size: 24px;
                        margin: 0;
                    }

                    .datos__informacion {
                        font-size: 16px;
                        margin: 0;
                    }
                }
            }

            .proveedor__descripcion {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 0;
                padding: 15px;
                color: white;
                text-shadow: 3px 3px 4px black;
            }
        }
    }
}