.principal__cuerpoInicio {
    min-height: 650px;
    width: 100%;
    @include niPaddingNiMargin(0, 0);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

    .cuerpo__texto {
        padding: 0.5rem 2rem;
        color: rgb(201, 201, 201);
        text-align: left;
        margin: 0px;
        text-shadow: 3px 3px 3px black;
        font-size: 18px;
    }

    .imagen__contenedor {
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        width: 100%;

        .cuerpo__imagen {
            padding: 2rem;
            height: 180px;
        }
    }

    .cuerpo__artista {
        color: white;
        padding: 1rem 2rem;
        text-align: left;
        text-shadow: 3px 3px 4px black;
    }
}