$textoGenerico:'El Messiri', sans-serif;
$imagenDeFondo: url("../media/imagenes/intro.png");
$imagenBarra: url("../media/imagenes/fondoColorRoble.png");
$imagenCabecera: url("../media/imagenes/logoCabeceraNuevo_bis.png");
$botonHamburguesa:url("../media/imagenes/menu.png");