$textoGenerico:'El Messiri', sans-serif;
$imagenDeFondo: url("../media/imagenes/intro.jpg");
$imagenBarra: url("../media/imagenes/fondoColorRoble.jpg");
$imagenCabecera: url("../media/imagenes/logoCabeceraNuevo_bis.png");
$logoMW:url("../media/imagenes/DeMar_Designs_Wilde_log_nuevo_blanco_tris.png");
$botonHamburguesa:url("../media/imagenes/menu.png");