$textoGenerico:'El Messiri', sans-serif;
$imagenDeFondo: url("../media/intro.jpg");
$imagenBarra: url("../media/fondoColorRoble.jpg");
$imagenCabecera: url("../media/logoCabeceraNuevo_bis.png");
$logoMW:url("../media/DeMar_Designs_Wilde_log_nuevo_blanco_tris.png");