@keyframes rotacion {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
* {
  padding: 0;
  margin: 0;
  font-family: "El Messiri", sans-serif;
  transition: 0.3s;
}

header {
  position: sticky;
  top: 0px;
}
header .cabecera {
  background-color: #351a02;
  padding: 0;
  margin: 0;
}
header .cabecera .cabecera__menu {
  padding: 0;
  margin: 0;
  background-image: url("../media/imagenes/fondoColorRoble.png");
  background-repeat: repeat;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  flex-wrap: wrap;
  width: 100%;
}
header .cabecera .cabecera__menu .menu__boton {
  padding: 0;
  margin: 0;
  height: 30px;
  border: none;
  box-shadow: none;
  padding-left: 7px;
  margin: 3px 0 3px 0;
}
header .cabecera .cabecera__menu .menu__boton .boton__icono {
  height: 100%;
  background-image: url("../media/imagenes/menu.png");
}
header .cabecera .cabecera__menu .menu__contenedor .menu__listado {
  padding: 0;
  margin: 0;
  width: 100%;
}
header .cabecera .cabecera__menu .menu__contenedor .menu__listado .listado__items {
  display: flex;
  padding: 0;
  text-align: center;
  width: 20%;
}
header .cabecera .cabecera__menu .menu__contenedor .menu__listado .listado__items .items__enlace {
  text-decoration: none;
  padding: 3px 0 3px 0;
  color: white;
  font: bold;
  text-shadow: 3px 3px 4px black;
  width: 100%;
  font-size: 22px;
}
header .cabecera .cabecera__menu .menu__contenedor .menu__listado .listado__items .items__enlace:hover {
  transform: scale(1.1);
  transform-origin: top;
}

header {
  position: sticky;
  top: 0px;
}
header .cabecera {
  background-color: #351a02;
  padding: 0;
  margin: 0;
}
header .cabecera .cabecera__titulo {
  background-image: url("../media/imagenes/logoCabeceraNuevo_bis.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0;
  height: 40px;
}
header .cabecera .cabecera__titulo .titulo__contenedorRedes {
  padding: 0;
  margin: 0;
  height: 100%;
}
header .cabecera .cabecera__titulo .titulo__contenedorRedes .titulo__redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  margin: 0px;
}
header .cabecera .cabecera__titulo .titulo__contenedorRedes .titulo__redes .redes__iconos {
  display: flex;
  justify-content: end;
  padding-top: 5px;
  padding-right: 5px;
}
header .cabecera .cabecera__titulo .titulo__contenedorRedes .titulo__redes .redes__iconos .iconos__texto .iconos, header .cabecera .cabecera__titulo .titulo__contenedorRedes .titulo__redes .redes__iconos .iconos__texto .iconos__mercadoLibre, header .cabecera .cabecera__titulo .titulo__contenedorRedes .titulo__redes .redes__iconos .iconos__texto .iconos__whatsapp, header .cabecera .cabecera__titulo .titulo__contenedorRedes .titulo__redes .redes__iconos .iconos__texto .iconos__instagram, header .cabecera .cabecera__titulo .titulo__contenedorRedes .titulo__redes .redes__iconos .iconos__texto .iconos__facebook {
  height: 28px;
}
header .cabecera .cabecera__titulo .titulo__contenedorRedes .titulo__redes .redes__iconos .iconos__texto .iconos:hover, header .cabecera .cabecera__titulo .titulo__contenedorRedes .titulo__redes .redes__iconos .iconos__texto .iconos__mercadoLibre:hover, header .cabecera .cabecera__titulo .titulo__contenedorRedes .titulo__redes .redes__iconos .iconos__texto .iconos__whatsapp:hover, header .cabecera .cabecera__titulo .titulo__contenedorRedes .titulo__redes .redes__iconos .iconos__texto .iconos__instagram:hover, header .cabecera .cabecera__titulo .titulo__contenedorRedes .titulo__redes .redes__iconos .iconos__texto .iconos__facebook:hover {
  transform: scale(1.2);
}
header .cabecera .cabecera__titulo .titulo__vacia {
  padding: 0;
  margin: 0;
  height: 40px;
  display: flex;
  justify-content: center;
}
header .cabecera .cabecera__titulo .titulo__vacia .vacia__texto {
  padding: 0;
  margin: 0;
  color: white;
  height: 100%;
  text-shadow: 3px 3px 4px black;
  font-size: 40px;
}
header .cabecera .cabecera__titulo .titulo__insignia {
  padding: 0;
  margin: 0;
  height: 40px;
}
header .cabecera .cabecera__titulo .titulo__insignia .insignia__logo {
  display: flex;
  justify-content: center;
}
header .cabecera .cabecera__titulo .titulo__insignia .insignia__logo .logo__img {
  padding: 0;
  margin: 0;
  height: 40px;
}
header .cabecera .cabecera__titulo .titulo__insignia .insignia__logo .logo__img:hover {
  animation: rotacion infinite 1s;
}

.principal {
  background-image: url("../media/imagenes/intro.png");
  background-size: cover;
  width: 100%;
  padding: 0;
}
.principal .principal__cuerpo {
  min-height: 650px;
  width: 100%;
  padding: 0;
  margin: 0;
}
.principal .principal__cuerpo .cuerpo__texto {
  padding: 5px 50px 10px 50px;
  color: rgb(201, 201, 201);
  text-align: left;
  margin: 0px;
  text-shadow: 3px 3px 4px black;
  font-size: 18px;
}
.principal .principal__cuerpo .cuerpo__imagen {
  padding: 20px;
  padding-left: 50px;
}
.principal .principal__cuerpo .cuerpo__artista {
  font-size: 20px;
  color: white;
  padding: 25px;
  padding-bottom: 5px;
  text-align: left;
  text-shadow: 3px 3px 4px black;
}

.principal {
  background-image: url("../media/imagenes/intro.png");
  background-size: cover;
  width: 100%;
  padding: 0;
}
.principal .principal__cuerpo {
  min-height: 650px;
  width: 100%;
  padding: 0;
  margin: 0;
}
.principal .principal__cuerpo .principal__catalogo {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.principal .principal__cuerpo .principal__catalogo .catalogo__bodega {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid white;
}
.principal .principal__cuerpo .principal__catalogo .catalogo__bodega .bodega__titulo {
  color: white;
  width: 100%;
  text-align: center;
  padding-top: 20px;
}
.principal .principal__cuerpo .principal__catalogo .catalogo__bodega .bodega__productos {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.principal .principal__cuerpo .principal__catalogo .catalogo__bodega .bodega__productos .catalogo__producto {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.principal .principal__cuerpo .principal__catalogo .catalogo__bodega .bodega__productos .catalogo__producto:hover {
  transform: scale(1.1);
  transform-origin: top;
}
.principal .principal__cuerpo .principal__catalogo .catalogo__bodega .bodega__productos .catalogo__producto .producto__texto {
  color: white;
  text-align: center;
  padding-top: 5px;
  margin: 0;
  text-shadow: 3px 3px 4px black;
}
.principal .principal__cuerpo .principal__catalogo .catalogo__bodega .bodega__productos .catalogo__producto .producto__enlace {
  padding: 0;
  margin: 0;
  text-align: center;
  width: 150px;
}
.principal .principal__cuerpo .principal__catalogo .catalogo__bodega .bodega__productos .catalogo__producto .producto__img {
  margin: 0;
  padding: 0;
  width: 150px;
}

.principal {
  background-image: url("../media/imagenes/intro.png");
  background-size: cover;
  width: 100%;
  padding: 0;
}
.principal .principal__cuerpo {
  min-height: 650px;
  width: 100%;
  padding: 0;
  margin: 0;
}
.principal .principal__cuerpo .cuerpo__parrafo {
  color: white;
  padding: 5px 50px 10px 50px;
  text-align: left;
  margin: 0px;
  text-shadow: 3px 3px 4px black;
  font-size: 18px;
}
.principal .principal__cuerpo .principal__formulario {
  padding: 30px;
  color: white;
  text-shadow: 3px 3px 4px black;
}
.principal .principal__cuerpo .principal__formulario .formulario__label {
  padding: 5px;
}
.principal .principal__cuerpo .principal__formulario .formulario__cajas {
  padding-bottom: 10px;
}

.principal {
  background-image: url("../media/imagenes/intro.png");
  background-size: cover;
  width: 100%;
  padding: 0;
}
.principal .principal__cuerpo {
  min-height: 650px;
  width: 100%;
  padding: 0;
  margin: 0;
}
.principal .principal__cuerpo .cuerpo__imagen {
  display: flex;
  justify-content: center;
  width: 100%;
}
.principal .principal__cuerpo .cuerpo__imagen .imagen__detalles {
  width: 50%;
}
.principal .principal__cuerpo .cuerpo__imagendos {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 2rem;
}
.principal .principal__cuerpo .cuerpo__ubicacion {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.principal .principal__cuerpo .cuerpo__ubicacion .ubicacion__mapa {
  width: 50%;
  padding: 0;
  margin: 0;
  padding-bottom: 2rem;
}

.principal {
  background-image: url("../media/imagenes/intro.png");
  background-size: cover;
  width: 100%;
  padding: 0;
}
.principal .principal__cuerpo {
  min-height: 650px;
  width: 100%;
  padding: 0;
  margin: 0;
}
.principal .principal__cuerpo .cuerpo__proveedor {
  width: 100%;
  padding: 0;
  margin: 0;
}
.principal .principal__cuerpo .cuerpo__proveedor .proveedor__info {
  width: 100%;
  padding: 0;
  margin: 0;
  border-bottom: solid 1px white;
}
.principal .principal__cuerpo .cuerpo__proveedor .proveedor__media {
  margin: 0;
  padding: 15px;
}
.principal .principal__cuerpo .cuerpo__proveedor .proveedor__media .media__enlace {
  width: 100%;
  padding: 0;
  margin: 0;
}
.principal .principal__cuerpo .cuerpo__proveedor .proveedor__media .media__img {
  width: 60%;
  margin: 0;
  padding: 0;
}
.principal .principal__cuerpo .cuerpo__proveedor .proveedor__media .media__img:hover {
  transform: scale(1.1);
  transform-origin: top;
}
.principal .principal__cuerpo .cuerpo__proveedor .proveedor__datos {
  margin: 0;
  padding: 15px;
  color: white;
  text-shadow: 3px 3px 4px black;
}
.principal .principal__cuerpo .cuerpo__proveedor .proveedor__datos .datos__ficha {
  width: 100%;
}
.principal .principal__cuerpo .cuerpo__proveedor .proveedor__datos .datos__ficha .datos__titulo {
  font-size: 24px;
  margin: 0;
  width: 100%;
}
.principal .principal__cuerpo .cuerpo__proveedor .proveedor__datos .datos__ficha .datos__informacion {
  font-size: 16px;
  margin: 0;
  width: 100%;
}
.principal .principal__cuerpo .cuerpo__proveedor .proveedor__descripcion {
  margin: 0;
  padding: 15px;
  color: white;
  text-shadow: 3px 3px 4px black;
}

.pieDePagina {
  background-image: url("../media/imagenes/fondoColorRoble.png");
  background-size: cover;
  padding: 0;
  margin: 0;
  height: 40px;
}
.pieDePagina .pieDePagina__contenedor {
  height: 100%;
  padding: 0;
  margin: 0;
}
.pieDePagina .pieDePagina__contenedor .contenedor__listado {
  display: flex;
  text-decoration: none;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  height: 100%;
}
.pieDePagina .pieDePagina__contenedor .contenedor__listado .listado__textoPieDePagina {
  padding: 0;
  margin: 0;
  display: flex;
  text-decoration: none;
  color: white;
  font: bold;
  text-shadow: 3px 3px 4px black;
  height: 100%;
}
.pieDePagina .pieDePagina__contenedor .contenedor__listado .listado__textoPieDePagina .textoPieDePagina__parrafo {
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 20px;
  padding: 7px 0;
}
.pieDePagina .pieDePagina__contenedor .contenedor__listado .listado__logoMW {
  display: flex;
  padding: 0;
  margin: 0;
  text-decoration: none;
  height: 100%;
}
.pieDePagina .pieDePagina__contenedor .contenedor__listado .listado__logoMW .logoMW__img {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
.pieDePagina .pieDePagina__contenedor .contenedor__listado .listado__logoMW .logoMW__img .img__enlace {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  width: 100%;
  justify-content: center;
}

@media (max-width: 780px) {
  header .cabecera .cabecera__menu .menu__contenedor .menu__listado .listado__items .items__enlace {
    font-size: 16px;
  }
}
@media (max-width: 750px) {
  .principal .principal__cuerpo .cuerpo__proveedor .proveedor__media .media__img {
    width: 100%;
  }
  .principal .principal__cuerpo .cuerpo__proveedor .proveedor__descripcion {
    font-size: 14px;
  }
  .principal .principal__cuerpo .cuerpo__proveedor .proveedor__datos .datos__ficha .datos__titulo {
    font-size: 18px;
  }
  .principal .principal__cuerpo .cuerpo__proveedor .proveedor__datos .datos__ficha .datos__informacion {
    font-size: 14px;
  }
  .pieDePagina .pieDePagina__contenedor .contenedor__listado .listado__textoPieDePagina .textoPieDePagina__parrafo {
    font-size: 14px;
    padding: 11px 0;
  }
}
@media (max-width: 575px) {
  header .cabecera .cabecera__menu .menu__boton {
    display: flex;
    justify-content: left;
  }
  header .cabecera .cabecera__menu .menu__contenedor .menu__listado .listado__items .items__enlace {
    border-top: 1px solid white;
    font-size: 15px;
    text-align: left;
  }
}
@media (max-width: 555px) {
  .principal .principal__cuerpo .cuerpo__parrafo {
    font-size: 14px;
  }
  .principal .principal__cuerpo .principal__formulario {
    font-size: 12px;
  }
  .principal .principal__cuerpo .principal__catalogo .catalogo__bodega .bodega__productos {
    display: flex;
    flex-wrap: wrap;
  }
  .principal .principal__cuerpo .principal__catalogo .catalogo__bodega .bodega__productos .catalogo__producto .producto__texto {
    font-size: 19px;
  }
  .principal .principal__cuerpo .principal__catalogo .catalogo__bodega .bodega__productos .catalogo__producto .producto__enlace .producto__img {
    width: 100%;
  }
  .principal .principal__cuerpo .cuerpo__proveedor .proveedor__info .proveedor__media .media__enlace .media__img {
    width: 100%;
  }
  .principal .principal__cuerpo .cuerpo__proveedor .proveedor__datos .datos__ficha .datos__titulo {
    font-size: 16px;
  }
  .principal .principal__cuerpo .cuerpo__proveedor .proveedor__datos .datos__ficha .datos__informacion {
    font-size: 12px;
  }
  .principal .principal__cuerpo .cuerpo__proveedor .proveedor__descripcion {
    font-size: 13px;
  }
  .pieDePagina .pieDePagina__contenedor .contenedor__listado .listado__logoMW .logoMW__img .img__enlace .enlace__archivo {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 90%;
  }
}
@media (max-width: 375px) {
  header .cabecera .cabecera__menu .menu__boton {
    height: 20px;
    padding-left: 7px;
  }
  header .cabecera .cabecera__menu .menu__boton .boton__icono {
    width: 20px;
  }
  header .cabecera .cabecera__menu .menu__contenedor .menu__listado .listado__items .items__enlace {
    font-size: 15px;
  }
  header .cabecera .cabecera__titulo {
    height: 20px;
  }
  header .cabecera .cabecera__titulo .titulo__contenedorRedes .titulo__redes {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    height: 100%;
    padding-left: 10px;
  }
  header .cabecera .cabecera__titulo .titulo__contenedorRedes .titulo__redes .redes__iconos {
    padding-top: 0;
  }
  header .cabecera .cabecera__titulo .titulo__contenedorRedes .titulo__redes .redes__iconos .iconos__texto .iconos, header .cabecera .cabecera__titulo .titulo__contenedorRedes .titulo__redes .redes__iconos .iconos__texto .iconos__facebook, header .cabecera .cabecera__titulo .titulo__contenedorRedes .titulo__redes .redes__iconos .iconos__texto .iconos__instagram, header .cabecera .cabecera__titulo .titulo__contenedorRedes .titulo__redes .redes__iconos .iconos__texto .iconos__whatsapp, header .cabecera .cabecera__titulo .titulo__contenedorRedes .titulo__redes .redes__iconos .iconos__texto .iconos__mercadoLibre {
    height: 16px;
  }
  header .cabecera .cabecera__titulo .titulo__vacia {
    height: 20px;
  }
  header .cabecera .cabecera__titulo .titulo__vacia .vacia__texto {
    font-size: 20px;
  }
  header .cabecera .cabecera__titulo .titulo__insignia {
    padding: 0;
    margin: 0;
    height: 20px;
  }
  header .cabecera .cabecera__titulo .titulo__insignia .insignia__logo .logo__img {
    height: 20px;
  }
  .principal .principal__cuerpo .cuerpo__texto {
    font-size: 16px;
  }
  .principal .principal__cuerpo .cuerpo__proveedor .proveedor__info .proveedor__media .media__enlace .media__img {
    width: 100%;
  }
  .principal .principal__cuerpo .cuerpo__proveedor .proveedor__datos .datos__ficha .datos__informacion {
    font-size: 10px;
  }
  .principal .principal__cuerpo .cuerpo__proveedor .proveedor__datos .datos__ficha .datos__titulo {
    font-size: 12px;
  }
  .principal .principal__cuerpo .cuerpo__proveedor .proveedor__descripcion {
    font-size: 13px;
  }
  .principal .principal__cuerpo .principal__formulario {
    font-size: 10px;
  }
  .principal .principal__cuerpo .principal__catalogo .catalogo__bodega .bodega__productos {
    display: flex;
    flex-wrap: wrap;
  }
  .principal .principal__cuerpo .principal__catalogo .catalogo__bodega .bodega__productos .catalogo__producto .producto__texto {
    font-size: 13px;
  }
  .principal .principal__cuerpo .principal__catalogo .catalogo__bodega .bodega__productos .catalogo__producto .producto__enlace .producto__img {
    width: 100%;
  }
}
@media (max-width: 288px) {
  header .cabecera .cabecera__menu .menu__contenedor .menu__listado .listado__items .items__enlace {
    font-size: 15px;
  }
  .principal .principal__cuerpo .cuerpo__texto {
    font-size: 14px;
  }
  .principal .principal__cuerpo .cuerpo__imagen {
    width: 75%;
  }
  .principal .principal__cuerpo .principal__catalogo .catalogo__producto .producto__img {
    width: 80%;
  }
  .principal .principal__cuerpo .principal__catalogo .catalogo__producto .producto__texto {
    font-size: 13px;
  }
  .principal .principal__cuerpo .cuerpo__proveedor .proveedor__descripcion .proveedor__descripcion {
    font-size: 13px;
  }
  .principal .principal__cuerpo .cuerpo__proveedor .proveedor__datos .datos__ficha .datos__informacion {
    font-size: 10px;
  }
  .principal .principal__cuerpo .cuerpo__proveedor .proveedor__datos .datos__ficha .datos__titulo {
    font-size: 10px;
  }
  .principal .principal__cuerpo .cuerpo__proveedor .proveedor__media .media__enlace .media__img {
    width: 100%;
  }
}
@media (max-width: 280px) {
  .enlace__archivo {
    width: 100%;
    padding: 5px 0;
  }
}

/*# sourceMappingURL=estilos.css.map */
