* {
  padding: 0;
  margin: 0;
  transition: 0.3s;
  font-family: Montserrat;
}

header {
  background-color: rgb(42, 53, 38);
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: space-between;
  padding: 0.5rem 2rem;
}
header .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header .logo .logo__enlace {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
header .logo .logo__enlace .logo__imagen {
  padding: 0.4rem;
  background-color: rgb(9, 24, 4);
  border-radius: 90px;
  height: 48px;
}
header .logo .logo__enlace .logo__texto {
  padding: 0.4rem;
  height: 60px;
}
header .encabezado {
  display: flex;
  justify-content: end;
  align-items: center;
}
header .encabezado .encabezado__abrir {
  display: none;
}
header .encabezado .encabezado__menu {
  display: flex;
  justify-content: end;
}
header .encabezado .encabezado__menu .menu__listado {
  display: flex;
  gap: 1rem;
  text-align: center;
  margin: 0;
}
header .encabezado .encabezado__menu .menu__listado .listado__cerrar {
  display: none;
  padding: 0.5rem;
}
header .encabezado .encabezado__menu .menu__listado .listado__items {
  display: flex;
  justify-content: center;
}
header .encabezado .encabezado__menu .menu__listado .listado__items .items__enlace {
  text-decoration: none;
  color: rgb(159, 185, 146);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
header .encabezado .encabezado__menu .menu__listado .listado__items .items__enlace:hover {
  color: rgb(200, 211, 200);
  transition: 0.5s;
}

@media (max-width: 950px) {
  header .logo .logo__enlace .logo__texto {
    display: none;
  }
  header .encabezado {
    display: flex;
    justify-content: end;
  }
  header .encabezado .encabezado__abrir {
    background-color: rgb(42, 53, 38);
    display: block;
    border: none;
  }
  header .encabezado .encabezado__abrir .abrir__imagen {
    height: 60px;
    padding: 1rem;
    border: none;
  }
  header .encabezado .encabezado__menu {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    background-color: rgb(42, 53, 38);
  }
  header .encabezado .encabezado__menu .menu__listado {
    flex-direction: column;
    align-items: end;
    width: 100%;
    padding: 0.5rem 2rem;
  }
  header .encabezado .encabezado__menu .menu__listado .listado__cerrar {
    display: block;
    border: none;
    background-color: rgb(42, 53, 38);
    padding: 0;
  }
  header .encabezado .encabezado__menu .menu__listado .listado__cerrar .cerrar__imagen {
    height: 60px;
    border: none;
    padding: 1rem;
  }
  header .encabezado .encabezado__menu .menu__listado .listado__items {
    padding: 0.5rem;
  }
  header .encabezado .encabezado__menu .menu__listado .listado__items .items__enlace {
    font-size: 16px;
  }
  header .encabezado .encabezado__menu.visible {
    opacity: 1;
    visibility: visible;
  }
}
.principal {
  width: 100%;
  padding: 0;
  background-color: rgb(26, 36, 26);
}

.principal__cuerpoInicio {
  min-height: 650px;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.principal__cuerpoInicio .cuerpo__texto {
  padding: 0.5rem 2rem;
  color: rgb(201, 201, 201);
  text-align: left;
  margin: 0px;
  text-shadow: 3px 3px 3px black;
  font-size: 18px;
}
.principal__cuerpoInicio .imagen__contenedor {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.principal__cuerpoInicio .imagen__contenedor .cuerpo__imagen {
  padding: 2rem;
  height: 180px;
}
.principal__cuerpoInicio .cuerpo__artista {
  color: white;
  padding: 1rem 2rem;
  text-align: left;
  text-shadow: 3px 3px 4px black;
}

.principal__cuerpoCatalogo {
  min-height: 650px;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.principal__cuerpoCatalogo .principal__catalogo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.principal__cuerpoCatalogo .principal__catalogo .catalogo__bodega {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid white;
}
.principal__cuerpoCatalogo .principal__catalogo .catalogo__bodega .bodega__titulo {
  color: white;
  text-align: center;
  padding-top: 20px;
  text-shadow: 3px 3px 4px black;
  font-size: 1.5em;
}
.principal__cuerpoCatalogo .principal__catalogo .catalogo__bodega .bodega__productos {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.principal__cuerpoCatalogo .principal__catalogo .catalogo__bodega .bodega__productos .catalogo__producto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.principal__cuerpoCatalogo .principal__catalogo .catalogo__bodega .bodega__productos .catalogo__producto:hover {
  transform: scale(1.1);
  transform-origin: top;
}
.principal__cuerpoCatalogo .principal__catalogo .catalogo__bodega .bodega__productos .catalogo__producto .producto__texto {
  color: white;
  text-align: center;
  padding-top: 5px;
  margin: 0;
  text-shadow: 3px 3px 4px black;
}
.principal__cuerpoCatalogo .principal__catalogo .catalogo__bodega .bodega__productos .catalogo__producto .producto__enlace {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.principal__cuerpoCatalogo .principal__catalogo .catalogo__bodega .bodega__productos .catalogo__producto .producto__enlace .producto__img {
  width: 150px;
  padding: 1rem;
}

@media (max-width: 555px) {
  .principal__cuerpoCatalogo .principal__catalogo .catalogo__bodega .bodega__productos {
    display: flex;
    flex-wrap: wrap;
  }
  .principal__cuerpoCatalogo .principal__catalogo .catalogo__bodega .bodega__productos .catalogo__producto .producto__texto {
    font-size: 19px;
  }
}
.principal__cuerpoFormulario {
  min-height: 650px;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.principal__cuerpoFormulario .cuerpo__parrafo {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 1rem;
  text-align: left;
  margin: 0px;
  text-shadow: 3px 3px 4px black;
  font-size: 18px;
}
.principal__cuerpoFormulario .principal__formulario {
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 3px 3px 4px black;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
}
.principal__cuerpoFormulario .principal__formulario .formulario__cajas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  flex-wrap: wrap;
  align-items: center;
}
.principal__cuerpoFormulario .principal__formulario .formulario__cajas .formulario__label {
  display: flex;
  padding: 5px;
  justify-content: end;
}
.principal__cuerpoFormulario .principal__formulario .formulario__cajas .formulario__textarea {
  width: 100%;
}
.principal__cuerpoFormulario .principal__formulario .formulario__cajas .formulario__boton {
  margin-top: 1rem;
  padding: 5px;
}

@media (max-width: 555px) {
  .principal__cuerpoFormulario .principal__formulario .formulario__cajas {
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin-top: 1rem;
  }
}
.principal__cuerpoNosotros {
  min-height: 650px;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.principal__cuerpoNosotros .cuerpo__textoNosotros {
  padding: 0.5rem 2rem;
  color: rgb(201, 201, 201);
  text-align: left;
  margin: 0px;
  text-shadow: 3px 3px 3px black;
  font-size: 18px;
}
.principal__cuerpoNosotros .ubicacion__imagen {
  display: flex;
  justify-content: center;
  width: 100%;
}
.principal__cuerpoNosotros .ubicacion__imagen .imagen__detalles {
  width: 70%;
}
.principal__cuerpoNosotros .ubicacion__imagendos {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 2rem;
}
.principal__cuerpoNosotros .cuerpo__ubicacion {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.principal__cuerpoNosotros .cuerpo__ubicacion .ubicacion__mapa {
  width: 50%;
  padding-bottom: 2rem;
}

.principal__cuerpoProveedor {
  min-height: 650px;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.principal__cuerpoProveedor .cuerpo__proveedor {
  display: flex;
  justify-content: left;
  flex-direction: column;
}
.principal__cuerpoProveedor .cuerpo__proveedor .proveedor__info {
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px white;
}
.principal__cuerpoProveedor .cuerpo__proveedor .proveedor__info .proveedor__media {
  display: flex;
  margin: 0;
  padding: 15px;
}
.principal__cuerpoProveedor .cuerpo__proveedor .proveedor__info .proveedor__media .media__enlace {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.principal__cuerpoProveedor .cuerpo__proveedor .proveedor__info .proveedor__media .media__enlace .media__img {
  width: 120px;
}
.principal__cuerpoProveedor .cuerpo__proveedor .proveedor__info .proveedor__datos {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 15px;
  color: white;
  text-shadow: 3px 3px 4px black;
  justify-content: center;
}
.principal__cuerpoProveedor .cuerpo__proveedor .proveedor__info .proveedor__datos .datos__ficha .datos__titulo {
  font-size: 24px;
  margin: 0;
}
.principal__cuerpoProveedor .cuerpo__proveedor .proveedor__info .proveedor__datos .datos__ficha .datos__informacion {
  font-size: 16px;
  margin: 0;
}
.principal__cuerpoProveedor .cuerpo__proveedor .proveedor__info .proveedor__descripcion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 15px;
  color: white;
  text-shadow: 3px 3px 4px black;
}

@media (max-width: 600px) {
  .principal__cuerpoProveedor .cuerpo__proveedor .proveedor__info {
    flex-direction: column;
  }
  .principal__cuerpoProveedor .cuerpo__proveedor .proveedor__info .proveedor__media {
    justify-content: center;
    align-items: center;
  }
}
.pieDePagina {
  background-color: rgb(42, 53, 38);
}
.pieDePagina .titulo__contenedorRedes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 43px;
  padding-bottom: 1rem;
}
.pieDePagina .titulo__contenedorRedes .titulo__redes {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(89, 107, 79);
  width: 100%;
}
.pieDePagina .titulo__contenedorRedes .titulo__redes .redes__iconos {
  display: flex;
  padding: 0.8rem;
}
.pieDePagina .titulo__contenedorRedes .titulo__redes .redes__iconos .iconos__texto .iconos, .pieDePagina .titulo__contenedorRedes .titulo__redes .redes__iconos .iconos__texto .iconos__mercadoLibre, .pieDePagina .titulo__contenedorRedes .titulo__redes .redes__iconos .iconos__texto .iconos__whatsapp, .pieDePagina .titulo__contenedorRedes .titulo__redes .redes__iconos .iconos__texto .iconos__instagram, .pieDePagina .titulo__contenedorRedes .titulo__redes .redes__iconos .iconos__texto .iconos__facebook {
  height: 48px;
  border-radius: 90px;
}
.pieDePagina .titulo__contenedorRedes .titulo__redes .redes__iconos .iconos__texto .iconos:hover, .pieDePagina .titulo__contenedorRedes .titulo__redes .redes__iconos .iconos__texto .iconos__mercadoLibre:hover, .pieDePagina .titulo__contenedorRedes .titulo__redes .redes__iconos .iconos__texto .iconos__whatsapp:hover, .pieDePagina .titulo__contenedorRedes .titulo__redes .redes__iconos .iconos__texto .iconos__instagram:hover, .pieDePagina .titulo__contenedorRedes .titulo__redes .redes__iconos .iconos__texto .iconos__facebook:hover {
  transform: scale(1.1);
  transition: 2s;
}
.pieDePagina .titulo__contenedorRedes .titulo__redes .redes__iconos .iconos__texto .iconos__facebook:hover {
  background-color: blue;
}
.pieDePagina .titulo__contenedorRedes .titulo__redes .redes__iconos .iconos__texto .iconos__instagram:hover {
  background-color: rgb(179, 49, 179);
}
.pieDePagina .titulo__contenedorRedes .titulo__redes .redes__iconos .iconos__texto .iconos__whatsapp:hover {
  background-color: rgb(56, 129, 27);
}
.pieDePagina .titulo__contenedorRedes .titulo__redes .redes__iconos .iconos__texto .iconos__mercadoLibre:hover {
  background-color: rgb(255, 251, 0);
}
.pieDePagina .pieDePagina__contenedor {
  padding: 1rem;
}
.pieDePagina .pieDePagina__contenedor .contenedor__listado {
  display: flex;
  text-decoration: none;
  flex-wrap: wrap;
  justify-content: center;
}
.pieDePagina .pieDePagina__contenedor .contenedor__listado .listado__textoPieDePagina {
  display: flex;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px 25px black;
}
.pieDePagina .pieDePagina__contenedor .contenedor__listado .listado__textoPieDePagina .textoPieDePagina__parrafo {
  text-align: center;
  font-size: 20px;
  padding: 7px 0;
  color: rgb(107, 128, 97);
}

@media (max-width: 750px) {
  .pieDePagina .pieDePagina__contenedor .contenedor__listado .listado__textoPieDePagina .textoPieDePagina__parrafo {
    font-size: 14px;
    padding: 11px 0;
  }
}
@media (max-width: 555px) {
  .pieDePagina .pieDePagina__contenedor .contenedor__listado .listado__textoPieDePagina .textoPieDePagina__parrafo {
    font-size: 12px;
    padding: 11px 0;
  }
}

/*# sourceMappingURL=estilos.css.map */
